@font-face {
  font-family: 'rainyHearts';
  src: url(../rainyhearts.ttf);
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#board {
  background-color: lightgray;
  border-bottom: 1px solid black;
}
